{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Register</h1>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}