{% extends 'base/admin_base.html.twig' %}

{% block sidebar %}
    {{ include('component/sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <h2>User saved. ID: {{ id }}, email: {{ email }}</h2>
{% endblock %}