{% extends 'base/admin_base.html.twig' %}

{% block sidebar %}
    {{ include('component/sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <h2>Welcome to the dashboard! Here we are {{ d }}</h2>
{% endblock %}