# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=589bdeea702c004c3760d79445fd0113
###< symfony/framework-bundle ###

###> symfony/mailer ###
# MAILER_DSN=smtp://localhost
###< symfony/mailer ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
DATABASE_URL="mysql://root:root@brisbane-mysql:3306/mysql_symfony?serverVersion=mariadb-10.5.8"
# DATABASE_URL="postgresql://symfony:ChangeMe@127.0.0.1:5432/app?serverVersion=13&charset=utf8"
###< doctrine/doctrine-bundle ###

###>OAuth credentials ###
OAUTH_SECRET=936710c5964e0a65f8f6afbb6a9d24fedb5d557b61b62a0bb244ba9b7756082cc0aef2b80288ac40c4858358ed3322353e6456c7f7b38392b66207a4c83889d6
OAUTH_DECIDE_URL=http://localhost:2500/authorize/decide
OAUTH_CLIENT_ID=brisbane-app
OAUTH_RESPONSE_TYPE=code
OAUTH_REDIRECT_URI=http://localhost:1500/oauth-validate-code
OAUTH_REGISTER_URL=http://localhost:2500/register
###<OAuth credentials ###
